<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>사원 등록</title>
    <style>
            .profile-img {
            width: 100px;
            height: 100px;
            background: #ddd;
            display: block;
            margin: 0 auto 10px;
        }
    </style>
</head>
<body>

    <div class="container text-center">
        <h3>사원 등록</h3>
    </div>    
    <div class="container text-center">
      <img id="imagePreview" class="profile-img" alt="">
      <input type="file" id="photo" accept="image/*" onchange="empimg(event)">
    </div>
    
    <div class="container text-center">
        <input type="file">
    </div>


    <div class="container text-center">
        <form name="insertform" th:action="@{/}" method="post">
        <table class="table table-boardered">
           <tr>
               <th>사원번호</th>
               <td><input type="number" name="" readonly></td>
           </tr>
           <tr>
               <th>ID</th>
               <td><input type="text" name="" ></td>
           </tr>
           <tr>
               <th>이름</th>
               <td><input type="text" name=""></td>
           </tr>
           <tr>
               <th><label for="depa">부서</label></th>
               <td>
                   <select id="depa">
                   <option value="">부서를 선택하세요</option>
                   <option value="">경영기획부</option>
                   <option value="">마케팅부</option>
                   <option value="">인사팀</option>
                   <option value="">회계팀</option>
                   <option value="">프로젝트팀</option>
                   <option value="">개발팀</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th><label for="rank">직급</label></th>
               <td>
                   <select id="rank">
                   <option>직급을 선택하세요</option>
                   <option value="">사원</option>
                   <option value="">대리</option>
                   <option value="">과장</option>
                   <option value="">부장</option>
                   <option value="">이사</option>
                   <option value="">대표</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th><label for="auth">권한</label></th>
               <td>
                   <select id="auth">
                   <option>권한을 선택하세요</option>
                   <option>최고관리자</option>
                   <option>인사관리자</option>
                   <option>게시판관리자</option>
                   <option>일반사용자</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th>연락처</th>
               <td><input type="text" name=""></td>
           </tr>
           <tr>
               <th>주소</th>
               <td><input type="text" name=""></td>
           </tr>
           <tr>
               <th>입사일</th>
               <td><input type="date" name=""></td>
           </tr>
        </table>
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-danger">취소</button>
      </form>
    </div>
    <script>
    function empimg(event) {
        const image = document.getElementById('imagePreview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                image.src = e.target.result;
                image.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    }
    
    document.querySelector('form[name="insertForm"]')
    .addEventListener('submit', function(event){
    	event.preventDefault();
    	
    	let name = insertForm.querySelector('[name="bookName"]')
    	if(name.value == ''){
    		alert('도서명이 입력되지 않았습니다.');
    		name.focus();
    		return;
    	}
    	
    	alert('도서등록이 완료 되었습니다.');
    	insertForm.submit();
    });
    </script>
</body>
</html>