<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <title>사원 등록</title>
    <style>
            .profile-img {
            width: 100px;
            height: 100px;
            background: #ddd;
            display: block;
            margin: 0 auto 10px;
        }
    </style>
</head>
<body>

    <div class="container text-center">
        <h3>사원 등록</h3>
    </div>
    <form name="insertForm" th:action="@{/empinsert}" method="post" enctype="multipart/form-data">    
    <div class="container text-center">
      <img id="imagePreview" class="profile-img" alt="">
      <input type="file" id="photo" name="profileImageFile" accept="image/*" onchange="empimg(event)">
    </div>
  
    <div class="container text-center">

        <table class="table table-boardered">
           <tr>
               <th><label for="empno">사원번호</label></th>
               <td><input type="number" id="empno" name="employeeNo" th:value="${employeeNo}" readonly></td>
           </tr>
           <tr>
               <th><label for="subno">회사번호</label></th>
               <td><input type="number" id="subno" name="suberNo" th:value="${suberNo}" readonly></td>
           </tr>
           <tr>
               <th><label for="empid">ID</label></th>
               <td><input type="text" id="empid" name="employeeId" ></td>
           </tr>
           <tr>
                <th><label for="emppw">비밀번호</label></th>
                <td><input type="password" id="emppw" name="employeePw"></td>
            </tr>
           <tr>
               <th><label for="empname">이름</label></th>
               <td><input type="text" id="empname" name="employeeName"></td>
           </tr>
           <tr>
               <th><label for="depa">부서</label></th>
               <td>
                   <select id="depa" name="departmentNo">
                   <option value="">부서를 선택하세요</option>
                   <option value="2">경영기획부</option>
                   <option value="3">마케팅부</option>
                   <option value="4">인사팀</option>
                   <option value="5">회계팀</option>
                   <option value="6">프로젝트팀</option>
                   <option value="7">개발팀</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th><label for="rank">직급</label></th>
               <td>
                   <select id="rank" name="rankId">
                   <option>직급을 선택하세요</option>
                   <option value="1">사원</option>
                   <option value="2">주임</option>
                   <option value="3">대리</option>
                   <option value="4">과장</option>
                   <option value="5">부장</option>
                   <option value="6">이사</option>
                   <option value="7">대표</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th><label for="auth">권한</label></th>
               <td>
                   <select id="auth" name="rightsId">
                   <option>권한을 선택하세요</option>
                   <option value="1">최고관리자</option>
                   <option value="2">인사관리자</option>
                   <option value="3">게시판관리자</option>
                   <option value="4">일반사용자</option>
                   </select>
               </td>
           </tr>
           <tr>
               <th><label for="pho">연락처</label></th>
               <td><input type="text" id="pho" name="phoneNumber"></td>
           </tr>
           <tr>
               <th><label for="add">주소</label></th>
               <td><input type="text" id="add" name="address"></td>
           </tr>
           <tr>
               <th><label for="hire">입사일</label></th>
               <td><input type="date" id="hire" name="hireDate"></td>
           </tr>
        </table>
        <button type="submit" class="btn btn-primary">등록</button>
        <button type="button" class="btn btn-danger">취소</button>
    </div>
    </form>
    <script>
    function empimg(event) {
        const image = document.getElementById('imagePreview');
        const file = event.target.files[0];
        if (file) {
            const reader = new FileReader();
            reader.onload = function(e) {
                image.src = e.target.result;
                image.style.display = 'block';
            };
            reader.readAsDataURL(file);
        }
    }
    
    </script>
</body>
</html>