<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title></title>
<link href="css/approval.css" rel="stylesheet">
</head>
<body>
	<div class="container-fluid">
	  <div class="h555">
		<h1 class="h3 mb-2 text-gray-800">결재대기함</h1>
		<button id="stampInsertButton">도장등록</button>
	  </div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
				<form action="" method="">
					<p>기안자<input>문서제목<input>상신일<input><button type="submit" class="float-right">검색</button></p>
				</form>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>문서번호</th>
								<th>기안부서</th>
								<th>기안자</th>
								<th>문서제목</th>
								<th>상신일</th>
							</tr>
						</thead>
						<tbody>
							<th:block each=" : ">
								<tr>
									<td>rr</td>
									<td>ddd</td>
									<td>ssss</td>
									<td>dddd</td>
									<td>ssss</td>
								</tr>
							</th:block>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	
	<div class="modal fade" id="stampModal" tabindex="-1" role="dialog" aria-labelledby="stampModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
        	<div class="approval-modal-content">
            		<div class="modal-header">
                		<h5 class="modal-title" id="stampModalLabel">도장 등록</h5>
                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    	<span aria-hidden="true">&times;</span>
                		</button>
            		</div>
            		<div class="approval-modal-body">
            			<form>
                			<h3>도장이미지</h3>
                			<div class="filebox">
    							<label for="file">파일찾기</label> 
    							<input type="file" id="file">
							                          
            				<div class="modal-footer modalbtns">
                				<button type="button" class="btn btn-secondary" onclick="insertStamp()">등록</button>
                				<button type="button" class="btn btn-primary" onclick="modifyStamp()">수정</button>
                				<button type="button" class="btn btn-danger" onclick="deleteStamp()">삭제</button>
            				</div>
            				</div>
            			</form> 
        			</div>
    			</div>
			</div>
		  </div>
		</body>
<script>
document.getElementById('stampInsertButton').addEventListener('click', function() {
    $('#stampModal').modal('show');
});

function insertStamp() {
	
    let file = document.getElementById('file').files[0];

    if (!file) {
        alert("파일을 선택하세요.");
        return;
    }

    let formData = new FormData();
    formData.append("file", file);

    fetch('http://localhost:8099/aprv', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json())
    .then(result => console.log(result))
    .catch(err => console.log(err));
}

function modifyStamp() {
    let fileInput = document.getElementById('file');
    let file = fileInput.files[0];

}

function deleteStamp() {
   
} 

</script>
</html>