<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>결재 대기함</title>
<link rel="stylesheet" th:href="@{/css/approval.css}">
</head>
<body>
	<div class="container-fluid">
	  <div class="h555">
		<h1 class="h3 mb-2 text-gray-800">결재대기함</h1>
		<button id="stampInsertButton">도장등록</button>
	  </div>
		<div class="card shadow mb-4">
			<div class="card-header py-3">
			<!-- 검색부분 -->
				<form th:action="@{/aprv/search}" method="GET"> 
					<p>기안자<input type="text" name="employeeName">문서제목<input type="text" name="title">상신일<input type="date" name="draftDate"><button type="submit" class="float-right">검색</button></p>
				</form>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>문서번호</th>
								<th>기안부서</th>
								<th>기안자</th>
								<th>문서제목</th>
								<th>상신일</th>
							</tr>
						</thead>
						<tbody>
								<tr th:each="aprv : ${aprvs}" th:onclick="|location.href='@{/aprv/info(draftNo=${aprv.draftNo})}'|">
									<td>[[${aprv.draftNo}]]</td>
									<td>[[${aprv.aprvStatus}]]</td>
									<td>[[${aprv.employeeName}]]</td>
									<td>[[${aprv.title}]]</td>
									<td>[[${#dates.format(aprv.draftDate, "yyyy년 MM월 dd일")}]]</td>
								</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="stampModal" tabindex="-1" role="dialog" aria-labelledby="stampModalLabel" aria-hidden="true">
    	<div class="modal-dialog" role="document">
        	<div class="approval-modal-content">
            		<div class="modal-header">
                		<h5 class="modal-title" id="stampModalLabel">도장 등록</h5>
                		<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    	<span aria-hidden="true">&times;</span>
                		</button>
            		</div>
            		<div class="approval-modal-body">
            			<form>
            				<div style="width:200px; height:200px; margin:3px auto; border:1px solid black">
                			</div>
                			<div class="filebox">
    							<label for="file">파일찾기</label> 
    							<input type="file" id="file" accept="image/*">
							                          
            				<div class="modal-footer modalbtns">
                				<button type="button" class="btn btn-secondary" onclick="insertStamp()">등록</button>
                				<button type="button" class="btn btn-secondary" onclick="updateStamp()">수정</button>
                				<button type="button" class="btn btn-secondary" onclick="deleteStamp()">삭제</button>
            				</div>
            				</div>
            			</form> 
        			</div>
    			</div>
			</div>
	</div>

<script>


 function updateStamp(){
	let file = document.getElementById('file').files[0];
	
	if (!file) {
        alert("파일을 선택하세요.");
        return;
    }

    let formData = new FormData();
    
    formData.append("file", file);
    
    fetch('aprv/modify', {
    	method: 'POST',
        body: formData
    })
    .then(res => response.json())
    .then(result => {
        if (result.success) {
            alert("도장 수정 성공!");

        } else {
            alert("도장 수정 실패!");
        }
    })
    .catch(err => console.log(err))
 }
 



// 도장 등록 기능
function insertStamp() {
    let file = document.getElementById('file').files[0];

    if (!file) {
        alert("파일을 선택하세요.");
        return;
    }

    let formData = new FormData();
    
    formData.append("file", file);
    
    fetch('aprv/upload', {
        method: 'POST',
        body: formData
    })
    .then(response => response.json()) 
    .then(result => {
        if (result.success) {
            alert("도장 등록 성공!");

        } else {
            alert("도장 등록 실패!");
        }
    })
    .catch(err => console.log(err));
}

document.querySelector('#stampInsertButton').addEventListener('click', event => {
    $('#stampModal').modal('show');
});

</script>

</body>
</html>
