<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <script src="ckeditor/ckeditor.js"></script>

    <style>
        #editor-container {
            width: 80%;
            margin: 20px auto;
        }
    </style>
</head>
<body>

    <h2 style="text-align: center;">전자결재 양식 등록</h2>

    <form id="form" action="/saveForm" method="post">
        <label>양식유형:</label>
        <input type="text" name="formType" required>

        
        <input type="hidden" name="content" id="hiddenContent">

        <div id="editor-container">
            <textarea id="editor"></textarea>
        </div>

        <button type="submit" onclick="saveContent()">저장하기</button>
    </form>

    <script>
        // CK에디터
        CKEDITOR.replace('editor', {
            extraPlugins: 'table,tableresize',
            removePlugins: 'exportpdf',
            toolbar: [
                ['FontSize', 'TextColor'],
                ['Bold', 'Italic', 'Underline'],
                ['Table'],
                ['JustifyLeft', 'JustifyCenter', 'JustifyRight'],
                ['TableProperties', 'TableCellProperties']
            ],
            fontSize_sizes: "10/10px;12/12px;14/14px;16/16px;18/18px;20/20px;24/24px;28/28px;32/32px;36/36px"
        });

        function saveContent() {
            document.getElementById("hiddenContent").value = CKEDITOR.instances.editor.getData();
        }
        
    </script>

</body>
</html>
