<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
  <head>
    <meta charset='utf-8' />
    <script th:src='@{https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js}'></script>
    <script layout:fragment="script" type="text/javascript" src="/lib/jquery-3.7.1.min.js"></script>
  </head>
  <div class="form-group">
    <div id='calendar-container'>
        <div id="calendar"></div>
    </div>
</div>
<script>
      document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          locale: 'ko',
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });
      
      console.log($)
      
      
      /////////////
      
      $(document).ready(function () {
    let calendarTag = $('#calendar')[0];                    // full-calendar 생성하기
    let calendar = new FullCalendar.Calendar(calendarTag, {
        height: '550px',                        // calendar 높이 설정
        expandRows: true,                       // 화면에 맞게 높이 재설정
        slotMinTime: '00:00',                   // Day 캘린더에서 시작 시간
        slotMaxTime: '23:59',                   // Day 캘린더에서 종료 시간

        customButtons: {                        
            testButton: {
                text: "테스트버튼"
            }
        },
        headerToolbar: {                              
            left: 'prevYear,prev,next,nextYear today',  
            // left: 'prev,next,today',
            center: 'title',
            right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
        }
    });
    // 캘린더 랜더링
    calendar.render();

});
    </script>
</html>