<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자료실 상세</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/detailRepository.css" rel="stylesheet">
</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid px-0">
                    <div class="card shadow mb-4" style="width: 100%; margin-top: 20px; margin-bottom: auto;">
                        <div class="card-header py-3 d-flex align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">자료 정보</h6>
                            <i class="fa-solid fa-thumbtack text-primary ml-2"></i>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered file-info-table">
                                <tbody>
                                    <tr>
                                        <th>제목</th><td th:text="${post.title}"></td>
                                        <th>작성자</th><td th:text="${post.writer}"></td>
                                    </tr>
                                    <tr>
                                        <th>등록일</th><td th:text="${#dates.format(post.creationDate, 'yyyy-MM-dd')}"></td>
                                        <th>첨부파일</th>
                                        <td>
                                        	<ul>
                								<li th:each="file : ${fileList}">
                    								<a th:href="@{/downloadFile(fileId=${file.fileId})}" th:text="${file.fileName}"></a>
                								</li>
                								<li th:if="${#lists.isEmpty(fileList)}">첨부파일 없음</li>
            								</ul>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <textarea class="content-area" th:utext="${post.content}"></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center mb-3">
    							<a th:href="@{/totalRepository}" class="btn btn-secondary">
        							<i class="fas fa-arrow-left"></i>
    							</a>

    							<!-- 수정, 삭제 버튼은 작성자 또는 게시판 관리자만 보이도록 -->
    							<div th:if="${isEditable}">
        							<a th:href="@{/editPost(writingId=${post.writingId})}" class="btn btn-warning">
            							<i class="fas fa-edit"></i>
        							</a>
        							<a th:href="@{/deletePost(writingId=${post.writingId})}" class="btn btn-danger">
            							<i class="fas fa-trash"></i>
        							</a>
    							</div>
							</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>
</html>


