<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자료실 상세</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/css/detailRepository.css" rel="stylesheet">
</head>
<body id="page-top">
    <div id="wrapper">
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid px-0">
                    <div class="card shadow mb-4" style="width: 100%; margin-top: 20px; margin-bottom: auto;">
                        <div class="card-header py-3 d-flex align-items-center">
                            <h6 class="m-0 font-weight-bold text-primary">자료 정보</h6>
                            <i class="fa-solid fa-thumbtack text-primary ml-2"></i>
                        </div>
                        <div class="card-body">
                            <table class="table table-bordered file-info-table">
                                <tbody>
                                    <tr>
                                        <th>제목</th><td></td>
                                        <th>작성자</th><td></td>
                                    </tr>
                                    <tr>
                                        <th>등록일</th><td></td>
                                        <th>첨부파일</th><td></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <textarea class="content-area" readonly></textarea>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="text-center mb-3">
    							<button class="btn btn-secondary" onclick="">
        							<i class="fas fa-arrow-left"></i>
    							</button>
    							<button class="btn btn-warning" onclick="">
        							<i class="fas fa-edit"></i>
    							</button>
                                <button class="btn btn-danger" onclick="">
        							<i class="fas fa-trash"></i>
    							</button>
    						</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/js/sb-admin-2.min.js"></script>
</body>
</html>


