<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">

<head>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
	rel="stylesheet">
<meta charset="UTF-8">
<title>자료실</title>
</head>
<body>
	<div>
		<div class="card shadow mb-4" style="width: 100%; margin-top: 20px; margin-bottom: auto;">
			<div class="card-header py-3">
				<h6 class="m-0 font-weight-bold text-primary">개인 자료실</h6>
			</div>
			<div class="card-body">
				<div class="table-responsive">
					<div class="position-relative" style="width: 350px; margin: 0 auto;">
						<input type="text" class="form-control pl-4" placeholder="검색어 입력">
						<i class="fas fa-search position-absolute"
							style="top: 50%; left: 10px; transform: translateY(-50%); color: #aaa;"></i>
					</div>
					<div class="text-right mb-3">
						<button class="btn btn-primary" th:onclick="|location.href='@{/repositoryInsert}'|">동륵</button>
					</div>
					<table class="table table-bordered" id="dataTable" width="100%"
						cellspacing="0">
						<thead>
							<tr>
								<th><input type="checkbox" id="selectAll"></th>
								<th>자료이름</th>
								<th>파일명</th>
								<th>작성자</th>
								<th>작성일</th>
							</tr>
						</thead>
						<tbody>
							<!-- 리스트가 비어 있을 경우 예외 처리 -->
    						<tr th:if="${#lists.isEmpty(individualRepositoryList)}">
        						<td colspan="4" class="text-center">등록된 자료가 없습니다.</td>
    						</tr>
						
							<tr th:each="post : ${individualRepositoryList}">
								<td><input type="checkbox" class="file-checkbox"></td>
           						<td th:text="${post.title}"></td>
            					<td th:text="${post.fileCount > 1 ? post.fileName + ' 외 ' + (post.fileCount - 1) + '건' : post.fileName}"></td>
            					<td th:text="${post.writer}"></td>
            					<td th:text="${#dates.format(post.creationDate, 'yyyy-MM-dd')}"></td>
							</tr>
						</tbody>
					</table>
					<div class="d-flex align-items-center justify-content-between mt-3">

						<a href="#" class="btn btn-danger">
							<i class="fas fa-trash"></i>
						</a>

						<div class="flex-grow-1 d-flex justify-content-center">
							<nav aria-label="페이지네이션">
								<ul class="pagination mb-0">
									<li class="page-item disabled">
										<a class="page-link" href="#" tabindex="-1">
											&laquo;
										</a>
									</li>
									<li class="page-item active"><a class="page-link" href="#">1</a></li>
									<li class="page-item"><a class="page-link" href="#">2</a></li>
									<li class="page-item"><a class="page-link" href="#">3</a></li>
									<li class="page-item">
										<a class="page-link" href="#">
											&raquo;
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>