<!DOCTYPE html>
<div xmlns:th="https://www.thymeleaf.org" th:fragment="sidebar">
	<link th:href="@{/css/sb-admin-2.css}" rel="stylesheet">
	<!-- Sidebar -->
	<ul
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center"
			href="main">
			<div class="sidebar-brand-icon rotate-n-15">
				<i class="fas fa-laugh-wink"></i>
			</div>
			<div class="sidebar-brand-text mx-3">
				SB Admin <sup>2</sup>
			</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link" href="index.html">
				<i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a></li>
		<!-- Divider -->
		<hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>
            <!-- Nav Item - Pages Collapse Menu--> 
            <li class="nav-item">
                <a class="nav-link" th:href="@{/schedule}">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>일정</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item"></a>
                        <a class="collapse-item"></a>
                        <a class="collapse-item"></a>
                        <a class="collapse-item"></a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                    aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                    data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                    aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li>
            <!-- Nav Item - Charts -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#work"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>근태관리</span>
                </a>
                <div id="work" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" href="chartsManager">관리자 근태관리</a>
                        <a class="collapse-item" href="blank">사원 근태관리</a>
                    </div>
                </div>
            </li> 
            <!-- Nav Item - Tables -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#approval"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>전자결재</span>
                </a>
                <div id="approval" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">기안</h6>
                        <a class="collapse-item" th:href="@{/aprv/write}">기안문작성</a>
                        <a class="collapse-item">결재요청함</a>
                        <a class="collapse-item">임시저장함</a>
                        <a class="collapse-item" th:href="@{/write}">전자결재양식추가</a>
                        <h6 class="collapse-header">결재</h6>
                        <a class="collapse-item" th:href="@{/aprv/list?aprvStatus=대기}">결재대기함</a>
                        <a class="collapse-item" th:href="@{/aprv/list?aprvStatus=진행}">결재진행함</a>
                        <a class="collapse-item" th:href="@{/aprv/list?aprvStatus=완료}">완료문서함</a>
                        <a class="collapse-item" th:href="@{/aprv/list?aprvStatus=반려}">반려문서함</a>
                        <a class="collapse-item">참조열람함</a>
                    </div>
                </div>
            </li>        
                                <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseT"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>인사관리</span>
                </a>
                <div id="collapseT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">인사관리</h6>
                        <a class="collapse-item" th:href="@{empinsert}">사원등록</a>
                        <a class="collapse-item" th:href="@{empMgmt}">사원관리</a>
                        <h6 class="collapse-header">부서관리</h6>
                        <a class="collapse-item" th:href="@{deptMgmt}">부서조회</a>
                        <a class="collapse-item" th:href="@{deptInsert}">부서추가</a>
                        <h6 class="collapse-header">휴가관리</h6>
                        <a class="collapse-item" th:href="@{vacaList}">휴가조회</a>
                        <a class="collapse-item" th:href="@{vacaInsert}">휴가유형등록</a>
                    </div>
                </div>
            </li>
            <!-- 메일 Menu -->
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#mailT"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>메일</span>
                </a>
                <div id="mailT" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">메일</h6>
                        <a class="collapse-item" th:href="@{mail}">메일메인화면</a>
                        <a class="collapse-item" th:href="@{mailInsert}">메일쓰기</a>
                        <h6 class="collapse-header">메일세부항목</h6>
                        <a class="collapse-item" th:href="@{getMail}">받은메일함</a>
                        <a class="collapse-item" th:href="@{putMail}">보낸메일함</a>
                        <a class="collapse-item" th:href="@{temporaryMail}">임시메일함</a>
                        <a class="collapse-item" th:href="@{deleteMail}">휴지통</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#board"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>게시판</span>
                </a>
                <div id="board" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{noticeBoard}">공지 게시판</a>
                        <a class="collapse-item" th:href="@{departmentBoard}">부서 게시판</a>
                        <a class="collapse-item" th:href="@{freeBoard}">자유 게시판</a>
                    </div>
                </div>
            </li>
            
            <li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#repository"
                    aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>자료실</span>
                </a>
                <div id="repository" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" th:href="@{totalRepository}">전체 자료실</a>
                        <a class="collapse-item" th:href="@{departmentRepository}">부서 자료실</a>
                        <a class="collapse-item" th:href="@{individualRepository}">개인 자료실</a>
                        <a class="collapse-item" th:href="@{basket}">휴지통</a>
                    </div>
                </div>
            </li>
            
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

		

		<!-- Sidebar Toggler (Sidebar) -->
		<div class="text-center d-none d-md-inline">
			<button class="rounded-circle border-0" id="sidebarToggle"></button>
		</div>
	</ul>
	<!-- End of Sidebar -->
</div>