<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.group.mapper.ApprovalMapper">
	
	<!-- 결재문서함(대기,완료,반려,진행) -->
	<select id="selectAprvListByStatus" parameterType="ApprovalVO" resultType="ApprovalVO">
    SELECT d.DRAFT_NO,
           d.TITLE,
           d.CONTENT,
           d.APRV_STATUS,
           d.REJECT_REASON,
           d.DRAFT_DATE,
           e.EMPLOYEE_NAME,
           d.APRV_DATE,
           d.FORM_ID,
           d.BASICS_FORM_ID,
           d.SUBER_NO,
           r.EMPLOYEE_NO,
           r.APRV_ROLE
    FROM aprv_documents d
    JOIN employees e ON d.EMPLOYEE_NO = e.EMPLOYEE_NO
    JOIN aprv_routes r ON r.DRAFT_NO = d.DRAFT_NO
    WHERE d.APRV_STATUS = #{aprvStatus}
    AND r.EMPLOYEE_NO = #{employeeNo}
    AND d.SUBER_NO = #{suberNo}
    <if test="employeeName != null and employeeName != ''">
        AND e.EMPLOYEE_NAME LIKE '%' || #{employeeName} || '%'
    </if>
    <if test="title != null and title != ''">
        AND d.TITLE LIKE '%' || #{title} || '%'
    </if>
    <if test="draftDate != null">
        AND d.DRAFT_DATE >= #{draftDate} AND d.DRAFT_DATE <![CDATA[ < ]]> #{draftDate} +1
    </if>
    <if test="aprvStatus != '참조'">
        AND r.APRV_ROLE != '참조'
    </if>
    ORDER BY d.DRAFT_NO
</select>

<!-- 참조열람함 -->
<select id="selectAprvListByRole" parameterType="ApprovalVO" resultType="ApprovalVO">
    SELECT d.DRAFT_NO,
           d.TITLE,
           d.CONTENT,
           d.APRV_STATUS,
           d.REJECT_REASON,
           d.DRAFT_DATE,
           e.EMPLOYEE_NAME,
           d.APRV_DATE,
           d.FORM_ID,
           d.BASICS_FORM_ID,
           d.SUBER_NO,
           r.EMPLOYEE_NO,
           r.APRV_ROLE
    FROM aprv_documents d
    JOIN employees e ON d.EMPLOYEE_NO = e.EMPLOYEE_NO
    JOIN aprv_routes r ON r.DRAFT_NO = d.DRAFT_NO
    WHERE r.APRV_ROLE = '참조'
    AND r.EMPLOYEE_NO = #{employeeNo}
    AND d.SUBER_NO = #{suberNo}
    <if test="employeeName != null and employeeName != ''">
        AND e.EMPLOYEE_NAME LIKE '%' || #{employeeName} || '%'
    </if>
    <if test="title != null and title != ''">
        AND d.TITLE LIKE '%' || #{title} || '%'
    </if>
    <if test="draftDate != null">
        AND d.DRAFT_DATE = #{draftDate}
    </if>
    ORDER BY d.DRAFT_NO
</select>


	<!-- 결재 상세 조회 (도장 정보 포함) -->
	<select id="selectAprvInfo" resultType="ApprovalVO"
		parameterType="ApprovalVO">
		SELECT d.DRAFT_NO
		, d.EMPLOYEE_NO
		, d.TITLE
		, d.CONTENT
		, d.APRV_STATUS
		, d.REJECT_REASON
		, d.DRAFT_DATE
		, d.APRV_DATE
		, s.STAMP_IMG_PATH
		FROM aprv_documents d
		LEFT JOIN stamp s
		ON d.EMPLOYEE_NO = s.EMPLOYEE_NO
		AND s.ACTIVE = '1'
		WHERE d.DRAFT_NO = #{draftNo}
	</select>

	<!-- 도장 등록 -->
	<insert id="insertStamp" parameterType="ApprovalVO">
		<selectKey keyProperty="stampId" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(stamp_id), 1) + 1
			FROM stamp
		</selectKey>
		INSERT INTO stamp(STAMP_IMG_PATH
		,EMPLOYEE_NO
		,STAMP_ID
		,ACTIVE)
		VALUES (#{stampImgPath}
		, #{employeeNo}
		, #{stampId}
		,'1')
	</insert>

	<!-- 도장수정 -->
	<update id="updateStamp" parameterType="ApprovalVO">
		UPDATE stamp
		SET active =
		'0'
		WHERE active = '1'
		AND employee_no = #{employeeNo}
	</update>

	<!-- 활성화된 도장 조회 -->
	<select id="countActiveStamps" parameterType="ApprovalVO"
		resultType="Integer">
		SELECT COUNT(*)
		FROM stamp
		WHERE employee_no = #{employeeNo}
		AND active = '1'
	</select>
	
	<!-- 활성화된 도장 이미지  -->
	<select id="selectActiveStamp" parameterType="ApprovalVO"
		resultType="ApprovalVO">
		SELECT employee_no
		,stamp_img_path
		,active
		FROM stamp
		WHERE active = '1'
		AND employee_no = #{employeeNo}
	</select>

	<!-- 회사 전자결재 양식 등록 -->
	<insert id="insertForm" parameterType="ApprovalFormVO">
		<selectKey keyProperty="formId" resultType="Integer"
			order="BEFORE">
			SELECT NVL(MAX(form_id), 1) + 1
			FROM aprv_forms
		</selectKey>
		INSERT INTO aprv_forms (
					form_id
					, form_type
					, content
					, version
					, active
					, creation_date
					, suber_no)
		VALUES(
					#{formId}
					,#{formType}
					,#{content}
					,1
					,'1'
					,sysdate
					,#{suberNo})
	</insert>
	
	<!-- 기본양식목록 불러오기 -->
	<select id="selectAllBasicsForms" parameterType="ApprovalVO" resultType="ApprovalVO">
		SELECT BASICS_FORM_ID
		       ,FORM_TYPE
		FROM   BASICS_FORM
	</select>
	
	<!-- 회사양식목록 불러오기 -->
	<select id="selectAllAprvForms" parameterType="ApprovalFormVO" resultType="ApprovalFormVO">
		SELECT FORM_ID
		       ,FORM_TYPE
		FROM   APRV_FORMS
		WHERE  SUBER_NO = #{suberNo}
	</select>
	
	<!-- 기본양식불러오기 -->
	<select id="selectBasicsForm" parameterType="ApprovalVO" resultType="ApprovalVO">
		SELECT BASICS_FORM_ID
			   ,CONTENT
			   ,VERSION
			   ,REMARKS	
			   ,FORM_TYPE
	    FROM   BASICS_FORM
	    WHERE  BASICS_FORM_ID = #{basicsFormId}
	</select>
	
	<!-- 회사전용양식불러오기 -->
	<select id="selectAprvForm" parameterType="ApprovalFormVO" resultType="ApprovalFormVO">
		SELECT FORM_ID
			   ,FORM_TYPE
			   ,REMARKS
			   ,CONTENT
			   ,VERSION
			   ,ACTIVE
			   ,CREATION_DATE
			   ,SUBER_NO
		FROM   aprv_forms
		WHERE  SUBER_NO = #{suberNo}
		  AND  ACTIVE = '1'
		  AND  FORM_ID = #{formId}
	</select>
	
	<!-- 결재요청함 ,임시저장함 -->
<select id="selectAllList" parameterType="ApprovalVO" resultType="ApprovalVO">    
    SELECT  d.DRAFT_NO,
            d.TITLE,
            d.CONTENT,
            d.APRV_STATUS,
            d.REJECT_REASON,
            d.DRAFT_DATE,
            e.EMPLOYEE_NAME,
            d.APRV_DATE,
            d.FORM_ID,
            d.BASICS_FORM_ID,
            d.SUBER_NO,
            d.EMPLOYEE_NO
    FROM aprv_documents d
    JOIN employees e ON d.EMPLOYEE_NO = e.EMPLOYEE_NO
    WHERE d.EMPLOYEE_NO = #{employeeNo}
    AND d.SUBER_NO = #{suberNo}
    <!-- 임시저장함 상태 조건 추가 -->
    <if test="aprvStatus eq '임시'">
        AND d.APRV_STATUS = '임시'  
    </if>
    <!-- 결재요청함은 임시를 제외한 모든 상태를 조회 -->
    <if test="aprvStatus != '임시'">
        AND d.APRV_STATUS != '임시'  
    </if>
    <if test="aprvStatus != null and aprvStatus != ''">
    	AND d.APRV_STATUS LIKE '%' || #{aprvStatus} || '%' 
    </if>
    <if test="title != null and title != ''">
        AND d.TITLE LIKE '%' || #{title} || '%'
    </if>
    <if test="draftDate != null">
        AND d.DRAFT_DATE >= #{draftDate} AND d.DRAFT_DATE <![CDATA[ < ]]> #{draftDate} +1
    </if>
    ORDER BY d.draft_no
</select>

	
	<!-- 결재문서상신 -->
	<insert id="insertAprvDocuments" parameterType="ApprovalVO">
	  <selectKey keyProperty="draftNo" resultType="Integer" order="BEFORE">
	  	 SELECT NVL(MAX(draft_no), 1) + 1
	     FROM aprv_documents
	  </selectKey>
	     INSERT INTO aprv_documents
	     (DRAFT_NO
		  ,TITLE
		  ,CONTENT
		  ,APRV_STATUS
		  ,EMPLOYEE_NO
		  ,FORM_ID
		  ,BASICS_FORM_ID
		  ,SUBER_NO)
	     VALUES(
	     #{draftNo}
	     ,#{title}
	     ,#{content}
	     ,#{aprvStatus}
	     ,#{employeeNo}
	     ,#{formId}
	     ,#{basicsFormId}
	     ,#{suberNo}) 
	</insert>
	
	<!-- 결재선등록 -->
	<insert id="insertAprvRoutes" parameterType="AprvRoutesVO">
		<selectKey keyProperty="aprvId" resultType="Integer" order="BEFORE">
			SELECT NVL(MAX(aprv_id), 1) + 1
	        FROM aprv_routes 
		</selectKey>
		 INSERT INTO aprv_routes
		 (APRV_ID
		  ,APRV_ORDER
		  ,DRAFT_NO
		  ,APRV_ROLE
		  ,EMPLOYEE_NO)
		 VALUES
		 (#{aprvId}
		  ,#{aprvOrder}
		  ,#{draftNo}
		  ,#{aprvRole}
		  ,#{employeeNo})
	</insert>
	
	<select id="selectAprvRout" parameterType="AprvRoutesVO" resultType="AprvRoutesVO">
		SELECT a.APRV_ID
       		   ,a.APRV_ORDER
		       ,a.APRV_DATE
		       ,a.DRAFT_NO
		       ,a.APRV_ROLE
		       ,a.EMPLOYEE_NO
		       ,e.EMPLOYEE_NAME
		       ,e.RANK_ID
		       ,r.job_title_name
		       ,s.STAMP_IMG_PATH
		       ,a.stamp_id
		FROM   aprv_routes a
		JOIN   employees e
		  ON   a.employee_no = e.employee_no
		JOIN   rank r
		  ON   e.rank_id = r.rank_id
		LEFT JOIN stamp s 
		  ON a.employee_no = s.employee_no AND s.active = '1'
		WHERE  a.draft_no = #{draftNo}
		  AND  e.suber_no = #{suberNo}
	</select>
	
	<select id="selectActiveStampId" resultType="Integer">
    	SELECT stamp_id
    	FROM stamp
    	WHERE employee_no = #{employeeNo}
      	AND active = '1'
	</select>
	
	<update id="updateStampId" parameterType="AprvRoutesVO">
    	UPDATE aprv_routes
    	SET stamp_id = #{stampId}
    	WHERE draft_no = #{draftNo}
      	AND employee_no = #{employeeNo}
	</update>
	
	<select id="findMaxAprvOrder" resultType="String">
    	SELECT MAX(aprv_order)
    	FROM aprv_routes
    	WHERE draft_no = #{draftNo}
	</select>

	<update id="updateAprvStatus" parameterType="AprvRoutesVO">
    	UPDATE aprv_documents
    	SET aprv_status = #{aprvStatus}
    	WHERE draft_no = #{draftNo}
	</update>
	
	
</mapper>
