<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.group.mapper.BasketMapper">
	<!-- 휴지통에 파일 이동 -->
    <insert id="insertToBasket" parameterType="BasketVO">
        INSERT INTO basket (writing_id, del_date)
        VALUES (#{writingId}, #{delDate})
    </insert>
</mapper>