<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.group.mapper.FileMapper">

	<!-- 파일 등록 -->
    <insert id="insertFile" parameterType="com.yedam.app.group.service.RepositoryFileVO">
        INSERT INTO repository_file (file_id, writing_id, file_name, save_file_name, file_path, file_size, file_extension, creation_date)
        VALUES (
        	repository_file_seq.NEXTVAL,
        	#{writingId},
        	#{fileName},
        	#{saveFileName},
        	#{filePath},
        	#{fileSize}, 
        	#{fileExtension}, 
        	SYSDATE
        )
    </insert>
    
    <select id="selectFilesByWritingId" parameterType="long" resultType="com.yedam.app.group.service.RepositoryFileVO">
    	SELECT 
        	file_id,
        	writing_id,
        	file_name,
        	save_file_name,
        	file_path,
        	creation_date,
        	file_size,
        	file_extension
    	FROM repository_file
    	WHERE writing_id = #{writingId}
	</select>
    
</mapper>