<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.app.group.mapper.PostMapper">

	<!-- 게시글 등록 -->
    <insert id="insertPost" parameterType="RepositoryPostVO">
        INSERT INTO repository_post (title, content, writer, created_date)
        VALUES (#{title}, #{content}, #{writer}, SYSDATE)
    </insert>

</mapper>