<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layouts/default_layout}"
	layout:fragment="content">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Blank</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>
<style>

.col{
margin: 10px;
}


.card-body{
display: block;	
}

div td{
text-align: center;
margin: 0px auto;	
}

.work-menu{
background-color: balck;
color: fff;
border: 1px solid black;
display: inline;
width: 300px;

margin: 40px;

}



</style>
<body id="page-top">
 				
 				
 				<div class="row">

                        <!-- Area Chart -->
                 

                        <!-- Pie Chart -->
                        <div class="col">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="m-0 font-weight-bold text-primary">출퇴근</h5>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </a>
                                            <div class="dropdown-header"></div>
                                           
                                        
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="">
                                    <div class="">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
									<div class="work-menu">
										<a>전체</a>
									</div>
									<div class="work-menu">
										<span><a>정상근로일</a></span>
									</div>
									<div class="work-menu">
										<a>미처리</a>
									</div>
									<div class="work-menu">
										<a>실제출퇴근등록일</a>
									</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="row">

                        <!-- Area Chart -->
                 

                        <!-- Pie Chart -->
                        <div class="col">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div
                                    class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h5 class="m-0 font-weight-bold text-primary">출퇴근기록</h5>
                                    <div class="dropdown no-arrow">
                                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </a>
                                            <div class="dropdown-header"></div>
                                           
                                        
                                    </div>
                                </div>
                                <!-- Card Body -->
                                <div class="">
                                    <div class="">
                                        <canvas id="myPieChart"></canvas>
                                    </div>
									<div class="work-info">
										<table>
											<tr>
												<td>사원번호</td>
												<td>날짜</td>	
												<td>출근시간</td>
												<td>퇴근시간</td>
												<td>근태유형</td>	
												<td>연차사유</td>
												<td>비고</td>
												<td>총 근무시간</td>
												<td></td>
											</tr>
										</table>
										
									</div>
									<table>
										<tr>
											<td>[[${employeeNo}]]</td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
											<td></td>
										</tr>
									</table>
                                </div>
                            </div>
                        </div>
                    </div>





    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

</body>

</html>