<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>mail Insert</title>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<!-- 메일쓰기 페이지-->
<body>
	 <h3>메일쓰기</h3>
	  <div>
	     <a href="login.html" class="btn btn-primary">
      		보내기
        </a>
	     <a href="login.html" class="btn btn-primary">
      		임시저장
        </a>
	  </div>
	  
  <form class="user">
     <div class="form-group row">
          <div class="col-sm-6 mb-3 mb-sm-0"><a>받는사람</a>
          <input type="text" class="form-control form-control-user" id="exampleFirstName" placeholder="받는사람">
		<a>참조</a>   
           <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="참조">
        <a>제목</a> 
           <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="제목">
        <a>파일첨부</a> 
           <input type="file"  class="form-control">
        <a>내용</a>  
           <input type="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="내용">
        </div> 
      </div>
  </form>
  </body>
</html>