<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/default_layout}"
	  layout:fragment="content">
<head>
<meta charset="UTF-8">
<title>mail</title>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</head>
<style>

	#flo{
	float: right;
	display: flex;
	justify-content: center;
	padding-left: 30px;
	}

	.left{
		position: relative;
		left: 1000px;
		bottom: 10px;
	}
    .p{
    	clear: left;
    	padding-left: 30px;
    	text-align: center;
    }
    #se{
 	margin-right: 10px;
    }
	#bar{
		position: static;
		text-align: center;
		padding: 20px;
		padding-left: 600px;
	}
	
</style>
<body>
<h3>메일메인화면</h3>

<!-- 검색기능 -->
  <div class="left" id="se">
    <form role="search">
      <input type="search" placeholder="Search">
      <button class="btn btn-outline-success" type="submit">검색</button>
    </form>
  </div>
<!-- 검색기능 마침 -->

<div class="col">
<div>
<div>
	<h5 th:text="'전체글: '+${totalCount}+'개'"></h5>
</div>
<div id="flo">
<button>삭제</button>

<!-- 정렬기능 -->
<div class="dropdown">
<label>정렬</label>
  <select>
    <option class="dropdown-item" href="#">안읽은메일</option>
    <option class="dropdown-item" href="#">첨부메일</option>
    <option class="dropdown-item" href="#">최신순</option>
    <option class="dropdown-item" href="#">오래된순</option>
</select>
</div>
</div>
</div>
<!-- 정렬기능 마침 -->

<!-- 메일목록 창 -->
<div class="p">
	<form name="form" method="post">
	<table border="1" class="table">
	<thead>
		<tr class="text-center">
			<td><input id="allCheck" type="checkbox" name="allCheck"/></td>
			<td scope="col">이미지</td>
			<td scope="col">작성자</td>
			<td scope="col">제목</td>
			<td scope="col">날짜</td>
		</tr>
	</thead>
	<tbody>
	<th:block th:each="info : ${mails}">
		<tr>
		    <td><input type="checkbox" name="RowCheck" th:value="${info.mailId}"/></td>
			<td th:onclick="|location.href='@{/mailSelect(mailId=${info.mailId})}';|">[[ ${info.mailId} ]]</td>
			<td th:onclick="|location.href='@{/mailSelect(mailId=${info.mailId})}';|">[[ ${info.getUser} ]]</td>
			<td th:onclick="|location.href='@{/mailSelect(mailId=${info.mailId})}';|">[[ ${info.title} ]]</td>
		  	<td th:onclick="|location.href='@{/mailSelect(mailId=${info.mailId})}';|">[[ ${ #dates.format(info.sentDate, "yyyy년MM월dd일") } ]]</td>
		</tr>
 	  </th:block>
 	  </tbody>
	</table>
	</form>
	</div>
<!-- 메일목록 창 마침 -->

<!-- 바기능 -->
<div id="bar">
	<nav>
		<ul class="pagination">
			<li class="page-item"
				th:classappend="${paging.startPage} == 1 ? disabled"><a
				class="page-link"
				th:href="|javascript:gopage(${paging.startPage}-1)|">Previous</a></li>
	
			<li
				th:each="num : *{#numbers.sequence(paging.startPage, paging.endPage)}"
				class="page-item" th:classappend="${num} == ${paging.page} ? active">
				<a class="page-link" th:href="|javascript:gopage(${num})|"
				th:text="${num}">2</a>
			</li>
	
			<li class="page-item"
				th:classappend="${paging.endPage} >= ${paging.lastPage} ? disabled">
				<a class="page-link"
				th:href="|javascript:gopage(${paging.endPage}+1)|">Next</a>
			</li>
		</ul>
	</nav>
</div>
<!-- 바기능 마침 -->
</div>




<script>

//사이드바
document.getElementById("mailSidebar").addEventListener("click", function(){
    document.getElementById("sidebar-wrapper").classList.toggle("side-hidden");
})
//버튼
	const context = ''; //document.querySelector('meta[name="contextPath"]').getAttribute('value');
							
	document.querySelectorAll('tbody > tr')
			.forEach(function(trTag){
				trTag.addEventListener('click', moveInfoPage);
			});
	
	function moveInfoPage(event){
		let selectedTr = event.currentTarget;
		let eid = selectedTr.children[1].textContent;
		let url = context + '/mailInfo?mailId=' + mid;
	}
	
	//체크박스
	    $(function(){
        var chkObj = document.getElementsByName("RowCheck");
        var rowCnt = chkObj.length;

        $("input[name='allCheck']").click(function(){
            var chk_listArr = $("input[name='RowCheck']");
            for (var i=0; i<chk_listArr.length; i++){
                chk_listArr[i].checked = this.checked;
            }
        });
        $("input[name='RowCheck']").click(function(){
            if($("input[name='RowCheck']:checked").length == rowCnt){
                $("input[name='allCheck']")[0].checked = true;
            }
            else{
                $("input[name='allCheck']")[0].checked = false;
            }
        });
    });
	
	//바 기능
	function gopage(p){
		//frmSearch.page.value = p;
		//frmSearch.submit();		
		location.href = '/mail?page=' + p;
	}

</script>

</body>  
</html>