<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="_csrf" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>SSGW - Strong Security Groupware</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/index.css}">
</head>

<body>
	<div id="wrapper" class="d-flex">
		<div id="content-wrapper" class="d-flex flex-column">
			<th:block th:replace="~{common/fragments/main_header :: header}"></th:block>
			<th:block layout:fragment="content"></th:block>
			<th:block th:replace="~{common/fragments/main_footer :: footer}"></th:block>
		</div>
	</div>
</body>
</html>